/* id="woocommerce-general-inline-css" */

.woocommerce a.added_to_cart {
    display: none;
  }
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    float: left;
  }

  .woocommerce .woocommerce-ordering {
    float: right;
    margin-bottom: 2.5em;
  }
  #customer_details h3:not(.elementor-widget-woocommerce-checkout-page h3) {
    font-size: 1.2rem;
    padding: 20px 0 14px;
    margin: 0 0 20px;
    border-bottom: 1px solid var(--ast-border-color);
    font-weight: 700;
  }
  form
    #order_review_heading:not(
      .elementor-widget-woocommerce-checkout-page #order_review_heading
    ) {
    border-width: 2px 2px 0 2px;
    border-style: solid;
    font-size: 1.2rem;
    margin: 0;
    padding: 1.5em 1.5em 1em;
    border-color: var(--ast-border-color);
    font-weight: 700;
  }
  form
    #order_review:not(
      .elementor-widget-woocommerce-checkout-page #order_review
    ) {
    padding: 0 2em;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: var(--ast-border-color);
  }
  ul#shipping_method
    li:not(.elementor-widget-woocommerce-cart #shipping_method li) {
    margin: 0;
    padding: 0.25em 0 0.25em 22px;
    text-indent: -22px;
    list-style: none outside;
  }
  .woocommerce span.onsale,
  .wc-block-grid__product .wc-block-grid__product-onsale {
    background-color: #74a84a;
    color: #000000;
  }
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce .woocommerce-message a.button,
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt,
  .woocommerce input.button,
  .woocommerce input.button:disabled,
  .woocommerce input.button:disabled[disabled],
  .woocommerce input.button:disabled:hover,
  .woocommerce input.button:disabled[disabled]:hover,
  .woocommerce #respond input#submit,
  .woocommerce button.button.alt.disabled,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
  .wc-block-grid__product-onsale {
    color: var(--ast-global-color-5);
    border-color: var(--ast-global-color-2);
    background-color: var(--ast-global-color-2);
  }
  .woocommerce a.button:hover,
  .woocommerce button.button:hover,
  .woocommerce .woocommerce-message a.button:hover,
  .woocommerce #respond input#submit:hover,
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover,
  .woocommerce input.button:hover,
  .woocommerce button.button.alt.disabled:hover,
  .wc-block-grid__products
    .wc-block-grid__product
    .wp-block-button__link:hover {
    color: var(--ast-global-color-5);
    border-color: var(--ast-global-color-1);
    background-color: var(--ast-global-color-1);
  }
  .woocommerce-message,
  .woocommerce-info {
    border-top-color: #74a84a;
  }
  .woocommerce-message::before,
  .woocommerce-info::before {
    color: #74a84a;
  }
  .woocommerce ul.products li.product .price,
  .woocommerce div.product p.price,
  .woocommerce div.product span.price,
  .widget_layered_nav_filters ul li.chosen a,
  .woocommerce-page ul.products li.product .ast-woo-product-category,
  .wc-layered-nav-rating a {
    color: #585858;
  }
  .woocommerce nav.woocommerce-pagination ul,
  .woocommerce nav.woocommerce-pagination ul li {
    border-color: #74a84a;
  }
  .woocommerce nav.woocommerce-pagination ul li a:focus,
  .woocommerce nav.woocommerce-pagination ul li a:hover,
  .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #74a84a;
    color: var(--ast-global-color-5);
  }
  .woocommerce-MyAccount-navigation-link.is-active a {
    color: #2c541d;
  }
  .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
  .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #74a84a;
  }
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce .woocommerce-message a.button,
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt,
  .woocommerce input.button,
  .woocommerce-cart table.cart td.actions .button,
  .woocommerce form.checkout_coupon .button,
  .woocommerce #respond input#submit,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
    border-radius: 0;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
  }
  .woocommerce .woocommerce-cart-form button[name="update_cart"]:disabled {
    color: var(--ast-global-color-5);
  }
  .woocommerce .star-rating,
  .woocommerce .comment-form-rating .stars a,
  .woocommerce .star-rating::before {
    color: var(--ast-global-color-3);
  }
  .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
  .woocommerce
    div.ast-product-tabs-layout-vertical
    .woocommerce-tabs
    ul.tabs
    li:hover::before {
    background: #74a84a;
  }
  .woocommerce[class*="rel-up-columns-"]
    .site-main
    div.product
    .related.products
    ul.products
    li.product,
  .woocommerce-page .site-main ul.products li.product {
    width: 100%;
  }
  .woocommerce ul.product-categories > li ul li {
    position: relative;
  }
  .woocommerce ul.product-categories > li ul li:before {
    content: "";
    border-width: 1px 1px 0 0;
    border-style: solid;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .woocommerce ul.product-categories > li ul li a {
    margin-left: 15px;
  }
  .ast-icon-shopping-cart svg {
    height: 0.82em;
  }
  .ast-icon-shopping-bag svg {
    height: 1em;
    width: 1em;
  }
  .ast-icon-shopping-basket svg {
    height: 1.15em;
    width: 1.2em;
  }
  .ast-site-header-cart.ast-menu-cart-outline .ast-addon-cart-wrap,
  .ast-site-header-cart.ast-menu-cart-fill .ast-addon-cart-wrap {
    line-height: 1;
  }
  .ast-site-header-cart.ast-menu-cart-fill i.astra-icon {
    font-size: 1.1em;
  }
  li.woocommerce-custom-menu-item .ast-site-header-cart i.astra-icon:after {
    padding-left: 2px;
  }
  .ast-hfb-header .ast-addon-cart-wrap {
    padding: 0.4em;
  }
  .ast-header-break-point.ast-header-custom-item-outside
    .ast-woo-header-cart-info-wrap {
    display: none;
  }
  .ast-site-header-cart i.astra-icon:after {
    background: var(--ast-global-color-0);
  }
  @media (min-width: 545px) and (max-width: 921px) {
    .woocommerce.tablet-columns-3 ul.products li.product,
    .woocommerce-page.tablet-columns-3 ul.products:not(.elementor-grid) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 922px) {
    .woocommerce form.checkout_coupon {
      width: 50%;
    }
  }
  @media (max-width: 921px) {
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-1.ast-mobile-header-stack.ast-no-menu-items
      .ast-site-header-cart,
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-3.ast-mobile-header-stack.ast-no-menu-items
      .ast-site-header-cart {
      padding-right: 0;
      padding-left: 0;
    }
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-1.ast-mobile-header-stack
      .main-header-bar {
      text-align: center;
    }
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-1.ast-mobile-header-stack
      .ast-site-header-cart,
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-1.ast-mobile-header-stack
      .ast-mobile-menu-buttons {
      display: inline-block;
    }
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-2.ast-mobile-header-inline
      .site-branding {
      flex: auto;
    }
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-3.ast-mobile-header-stack
      .site-branding {
      flex: 0 0 100%;
    }
    .ast-header-break-point.ast-woocommerce-cart-menu
      .header-main-layout-3.ast-mobile-header-stack
      .main-header-container {
      display: flex;
      justify-content: center;
    }
    .woocommerce-cart .woocommerce-shipping-calculator .button {
      width: 100%;
    }
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce .woocommerce-message a.button,
    .woocommerce #respond input#submit.alt,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt,
    .woocommerce input.button,
    .woocommerce-cart table.cart td.actions .button,
    .woocommerce form.checkout_coupon .button,
    .woocommerce #respond input#submit,
    .wc-block-grid__products
      .wc-block-grid__product
      .wp-block-button__link {
      padding-top: 15px;
      padding-right: 25px;
      padding-bottom: 15px;
      padding-left: 25px;
    }
    .woocommerce div.product div.images,
    .woocommerce div.product div.summary,
    .woocommerce #content div.product div.images,
    .woocommerce #content div.product div.summary,
    .woocommerce-page div.product div.images,
    .woocommerce-page div.product div.summary,
    .woocommerce-page #content div.product div.images,
    .woocommerce-page #content div.product div.summary {
      float: none;
      width: 100%;
    }
    .woocommerce-cart table.cart td.actions .ast-return-to-shop {
      display: block;
      text-align: center;
      margin-top: 1em;
    }
    .ast-container .woocommerce ul.products:not(.elementor-grid),
    .woocommerce-page ul.products:not(.elementor-grid),
    .woocommerce.tablet-columns-3 ul.products:not(.elementor-grid) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (max-width: 544px) {
    .ast-separate-container .ast-woocommerce-container {
      padding: 0.54em 1em 1.33333em;
    }
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce .woocommerce-message a.button,
    .woocommerce #respond input#submit.alt,
    .woocommerce a.button.alt,
    .woocommerce button.button.alt,
    .woocommerce input.button.alt,
    .woocommerce input.button,
    .woocommerce-cart table.cart td.actions .button,
    .woocommerce form.checkout_coupon .button,
    .woocommerce #respond input#submit,
    .wc-block-grid__products
      .wc-block-grid__product
      .wp-block-button__link {
      padding-top: 15px;
      padding-right: 25px;
      padding-bottom: 15px;
      padding-left: 25px;
    }
    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
      display: flex;
      flex-wrap: wrap;
    }
    .woocommerce-message a.button,
    .woocommerce-error a.button,
    .woocommerce-info a.button {
      order: 1;
      margin-top: 0.5em;
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
      float: none;
      margin-bottom: 2em;
    }
    .woocommerce ul.products a.button,
    .woocommerce-page ul.products a.button {
      padding: 0.5em 0.75em;
    }
    .woocommerce table.cart td.actions .button,
    .woocommerce #content table.cart td.actions .button,
    .woocommerce-page table.cart td.actions .button,
    .woocommerce-page #content table.cart td.actions .button {
      padding-left: 1em;
      padding-right: 1em;
    }
    .woocommerce #content table.cart .button,
    .woocommerce-page #content table.cart .button {
      width: 100%;
    }
    .woocommerce #content table.cart td.actions .coupon,
    .woocommerce-page #content table.cart td.actions .coupon {
      float: none;
    }
    .woocommerce #content table.cart td.actions .coupon .button,
    .woocommerce-page #content table.cart td.actions .coupon .button {
      flex: 1;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
      display: block;
    }
    .ast-container .woocommerce ul.products:not(.elementor-grid),
    .woocommerce-page ul.products:not(.elementor-grid),
    .woocommerce.mobile-columns-1 ul.products:not(.elementor-grid),
    .woocommerce-page.mobile-columns-1 ul.products:not(.elementor-grid) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .woocommerce.mobile-rel-up-columns-2 ul.products::not(.elementor-grid) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (max-width: 544px) {
    .woocommerce ul.products a.button.loading::after,
    .woocommerce-page ul.products a.button.loading::after {
      display: inline-block;
      margin-left: 5px;
      position: initial;
    }
    .woocommerce.mobile-columns-1
      .site-main
      ul.products
      li.product:nth-child(n),
    .woocommerce-page.mobile-columns-1
      .site-main
      ul.products
      li.product:nth-child(n) {
      margin-right: 0;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
      display: block;
      margin-right: 0;
    }
  }
  @media (min-width: 922px) {
    .woocommerce #content .ast-woocommerce-container div.product div.images,
    .woocommerce .ast-woocommerce-container div.product div.images,
    .woocommerce-page
      #content
      .ast-woocommerce-container
      div.product
      div.images,
    .woocommerce-page .ast-woocommerce-container div.product div.images {
      width: 50%;
    }
    .woocommerce
      #content
      .ast-woocommerce-container
      div.product
      div.summary,
    .woocommerce .ast-woocommerce-container div.product div.summary,
    .woocommerce-page
      #content
      .ast-woocommerce-container
      div.product
      div.summary,
    .woocommerce-page .ast-woocommerce-container div.product div.summary {
      width: 46%;
    }
    .woocommerce.woocommerce-checkout
      form
      #customer_details.col2-set
      .col-1,
    .woocommerce.woocommerce-checkout
      form
      #customer_details.col2-set
      .col-2,
    .woocommerce-page.woocommerce-checkout
      form
      #customer_details.col2-set
      .col-1,
    .woocommerce-page.woocommerce-checkout
      form
      #customer_details.col2-set
      .col-2 {
      float: none;
      width: auto;
    }
  }
  .woocommerce a.button,
  .woocommerce button.button.alt,
  .woocommerce-page table.cart td.actions .button,
  .woocommerce-page #content table.cart td.actions .button,
  .woocommerce a.button.alt,
  .woocommerce .woocommerce-message a.button,
  .ast-site-header-cart .widget_shopping_cart .buttons .button.checkout,
  .woocommerce button.button.alt.disabled,
  .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
    border: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-color: var(--ast-global-color-2);
  }
  .woocommerce a.button:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce-page table.cart td.actions .button:hover,
  .woocommerce-page #content table.cart td.actions .button:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce .woocommerce-message a.button:hover,
  .ast-site-header-cart
    .widget_shopping_cart
    .buttons
    .button.checkout:hover,
  .woocommerce button.button.alt.disabled:hover,
  .wc-block-grid__products
    .wc-block-grid__product
    .wp-block-button__link:hover {
    border-color: var(--ast-global-color-1);
  }
  .widget_product_search button {
    flex: 0 0 auto;
    padding: 10px 20px;
  }
  @media (min-width: 922px) {
    .woocommerce.woocommerce-checkout form #customer_details.col2-set,
    .woocommerce-page.woocommerce-checkout form #customer_details.col2-set {
      width: 55%;
      float: left;
      margin-right: 4.347826087%;
    }
    .woocommerce.woocommerce-checkout form #order_review,
    .woocommerce.woocommerce-checkout form #order_review_heading,
    .woocommerce-page.woocommerce-checkout form #order_review,
    .woocommerce-page.woocommerce-checkout form #order_review_heading {
      width: 40%;
      float: right;
      margin-right: 0;
      clear: right;
    }
  }
  select,
  .select2-container .select2-selection--single {
    background-image: url("data:image/svg+xml,%3Csvg class='ast-arrow-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='26px' height='16.043px' fill='%2374a84a' viewBox='57 35.171 26 16.043' enable-background='new 57 35.171 26 16.043' xml:space='preserve' %3E%3Cpath d='M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2em;
  }
  .woocommerce .quantity.buttons_added {
    display: inline-flex;
  }

  .woocommerce .quantity.buttons_added + .button.single_add_to_cart_button {
    margin-left: unset;
  }

  .woocommerce .quantity .qty {
    width: 2.631em;
    margin-left: 38px;
  }

  .woocommerce .quantity .minus,
  .woocommerce .quantity .plus {
    width: 38px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--ast-border-color);
    color: var(--ast-global-color-3);
    align-items: center;
    outline: 0;
    font-weight: 400;
  }

  .woocommerce .quantity .minus {
    border-right-width: 0;
    margin-right: -38px;
  }

  .woocommerce .quantity .plus {
    border-left-width: 0;
    margin-right: 6px;
  }

  .woocommerce input[type="number"] {
    max-width: 58px;
    min-height: 36px;
  }

  .woocommerce input[type="number"].qty::-webkit-inner-spin-button,
  .woocommerce input[type="number"].qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .woocommerce input[type="number"].qty {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }

  .ast-onsale-card {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    color: var(--ast-global-color-3);
    background-color: var(--ast-global-color-5);
    width: fit-content;
    border-radius: 20px;
    padding: 0.4em 0.8em;
    font-size: 0.87em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }
  @media (max-width: 420px) {
    .mobile-columns-3 .ast-onsale-card {
      top: 1em;
      left: 1em;
    }
  }

  .ast-on-card-button {
    position: absolute;
    right: 1em;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    z-index: 5;
    cursor: pointer;
  }

  .ast-on-card-button.ast-onsale-card {
    opacity: 1;
    visibility: visible;
  }

  .ast-on-card-button:hover .ast-card-action-tooltip {
    opacity: 1;
    visibility: visible;
  }

  .ast-on-card-button:hover .ahfb-svg-iconset {
    opacity: 1;
    color: var(--ast-global-color-2);
  }

  .ast-on-card-button .ahfb-svg-iconset {
    border-radius: 50%;
    color: var(--ast-global-color-2);
    background: var(--ast-global-color-5);
    opacity: 0.7;
    width: 2em;
    height: 2em;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  .ast-on-card-button .ahfb-svg-iconset .ast-icon {
    -js-display: inline-flex;
    display: inline-flex;
    align-self: center;
  }

  .ast-on-card-button svg {
    fill: currentColor;
  }

  .ast-select-options-trigger {
    top: 1em;
  }

  .ast-select-options-trigger.loading:after {
    display: block;
    content: " ";
    position: absolute;
    top: 50%;
    right: 50%;
    left: auto;
    width: 16px;
    height: 16px;
    margin-top: -12px;
    margin-right: -8px;
    background-color: var(--ast-global-color-2);
    background-image: none;
    border-radius: 100%;
    -webkit-animation: dotPulse 0.65s 0s infinite
      cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: dotPulse 0.65s 0s infinite
      cubic-bezier(0.21, 0.53, 0.56, 0.8);
  }

  .ast-select-options-trigger.loading .ast-icon {
    display: none;
  }

  .ast-card-action-tooltip {
    background-color: var(--ast-global-color-2);
    pointer-events: none;
    white-space: nowrap;
    padding: 8px 9px;
    padding: 0.7em 0.9em;
    color: var(--ast-global-color-5);
    margin-right: 10px;
    border-radius: 3px;
    font-size: 0.8em;
    line-height: 1;
    font-weight: normal;
    position: absolute;
    right: 100%;
    top: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
  }

  .ast-card-action-tooltip:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent
      var(--ast-global-color-2);
  }

  .astra-shop-thumbnail-wrap:hover
    .ast-on-card-button:not(.ast-onsale-card) {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 420px) {
    .mobile-columns-3 .ast-select-options-trigger {
      top: 0.5em;
      right: 0.5em;
    }
  }

  .woocommerce ul.products li.product.desktop-align-left,
  .woocommerce-page ul.products li.product.desktop-align-left {
    text-align: left;
  }
  .woocommerce ul.products li.product.desktop-align-left .star-rating,
  .woocommerce ul.products li.product.desktop-align-left .button,
  .woocommerce-page ul.products li.product.desktop-align-left .star-rating,
  .woocommerce-page ul.products li.product.desktop-align-left .button {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 921px) {
    .woocommerce ul.products li.product.tablet-align-left,
    .woocommerce-page ul.products li.product.tablet-align-left {
      text-align: left;
    }
    .woocommerce ul.products li.product.tablet-align-left .star-rating,
    .woocommerce ul.products li.product.tablet-align-left .button,
    .woocommerce-page ul.products li.product.tablet-align-left .star-rating,
    .woocommerce-page ul.products li.product.tablet-align-left .button {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media (max-width: 544px) {
    .woocommerce ul.products li.product.mobile-align-left,
    .woocommerce-page ul.products li.product.mobile-align-left {
      text-align: left;
    }
    .woocommerce ul.products li.product.mobile-align-left .star-rating,
    .woocommerce ul.products li.product.mobile-align-left .button,
    .woocommerce-page ul.products li.product.mobile-align-left .star-rating,
    .woocommerce-page ul.products li.product.mobile-align-left .button {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .ast-woo-active-filter-widget .wc-block-active-filters {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }
  .ast-woo-active-filter-widget .wc-block-active-filters__clear-all {
    flex: none;
    margin-top: 2px;
  }