.main-navigation {
  letter-spacing: 2.5px;
}

#astra-footer-menu >
.menu-item >
.menu-link {
  letter-spacing: 2.4px;
}

.ast-footer-copyright p {
  letter-spacing: 1.2px;
}

.ast-plain-container.ast-no-sidebar #primary {
  margin-top: 70px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .ast-plain-container.ast-no-sidebar #primary {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

a:where(:not(.wp-element-button)) {
  text-decoration: none;
}
